DATABASE_URL=postgresql://user:pass@localhost:5432/db_parcial_python

SECRET_KEY=your-super-secret-key-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

CORS_ORIGINS=["http://localhost:5173"]

MP_ACCESS_TOKEN=TEST-xxxx
MP_WEBHOOK_URL="https://dominio.ngrok-free.dev"

CLOUDINARY_CLOUD_NAME=mi-cloud-name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmn

FRONTEND_URL=http://localhost:5173